@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
}
img{
    max-width: 100%;
}
.text_white{
    color: #000000;
}
.fs-14{
    font-size: 14px;
}
.fs-12{
    font-size: 12px;
}
.fs-18{
    font-size: 18px;
    line-height: 28px;
}
.fs-30{
    font-size: 30px;
    line-height: 38px;
}
.fs-60{
    font-size: 60px;
}
.fm-bold{
    font-family: "Poppins-SemiBold";
}
.lh-6{
    line-height: 28px;
}
.lh-20{
    line-height: 20px;
}
.lh-24{
    line-height: 24px;
}
.lh-30{
    line-height: 30px;
}
.fw-600{
    font-weight: 600;
}
.text_gray{
    color: #fff;
    opacity: .3;
}
.bgwhite{
    background-color: #ffffff;
}
.bgclose{
    background-color: #E5E5EA;
}
.bglight{
    background-color: #F5F5F6;
}
.bg-head{
    background-color: #22222B;
}
.bgdark{
    background-color: #3C3C4C;
}
.bgorange{
    background-color: #C55A11;
}
.w-20{
    width: 17%;
}
.textdarkgray{
    color: #3C3C4C;
}
.textgray-100{
    color: #8A8A94;
}
.border-orange{
    border-left: 7px solid #C55A11;
}
.border-gray{
    border-bottom: 2px solid #50505E;
}
.text-orange{
    color: #C55A11;
}
.rounded-8{
    border-radius: 8px !important;
}
.lh-28{
    line-height: 28px;
}
.grayhover:hover{
    transition: .5s;
    background-color: #ffffff;
    color: #3C3C4C;
}
.whitehover:hover{
    background-color: #C55A11;
    color: #ffffff;
    transition: .5s;
}
.drakgrayhover:hover{
    transition: .5s;
    background-color: #3C3C4C;
    color: #ffffff;
}
.textorangehover:hover{
    color: #C55A11;
    transition: .5s;
}
.textgrayhover:hover{
    color: #3C3C4C;
    transition: .5s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul{
    padding: 0;
}  
/* .container {
    max-width: 1260px;
    margin: 0 auto;
    width: auto;
} */
p,span,a,strong,input,button,select,label{
    font-family: "Poppins-Regular";
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins-SemiBold";
}
.footer_wrapper {
    float: left;
    width: 100%;
    background-color: #22222B;
}
.footer_wrapper h2 {
    font-family: 'Poppins-Regular';
}
.hometesti_slider .slick-dots li {
    display: inline-block;
    margin: 0 2px;
}
.hometesti_slider .slick-dots li button {
    border: unset;
    outline: unset;
    font-size: 0;
    background-color: #F1D7C6;
    width: 7px;
    padding: 0;
    height: 7px;
    border-radius: 10px;
}
.hometesti_slider .slick-dots .slick-active button{
    width: 40px;
    background-color: #C55A11;
}
.help_wrapper{
    background-color: #F5F5F6;
    padding: 4em 0 3em;
}
.explore_slider .slick-prev {
    position: absolute;
    left: -9px;
    z-index: 1;
    top: 35%;
    bottom: 0;
    font-size: 0;
    box-shadow: 0px 0px 1px 0px #0000000A;
    border: 1px solid #EBEBED;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore_slider .slick-prev:after{
    content: "\f104";
    display: inline-block;
    font: normal normal normal 18px / 1 FontAwesome;
}
.explore_slider .slick-next{
    position: absolute;
    right: -9px;
    top: 35%;
    bottom: 0;
    font-size: 0;
    box-shadow: 0px 0px 1px 0px #0000000A;
    border: 1px solid #EBEBED;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore_slider .slick-next:after{
    content: "\f105";
    display: inline-block;
    font: normal normal normal 18px / 1 FontAwesome;
}
.gol_icon1:before{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #FFC000;
}
.yellow:before{
    background-color: #FFC000;
}
.coal:before{
    background-color: #3C3C4C;
}
.copper:before{
    background-color: #C55A11;
}
.projectsaround_slider .slick-arrow{
    font-size: 0;
    background-color: unset;
    border: unset;
    outline: unset;
    padding: 0;
    position: absolute;
    right: 0;
    top: -65px;
}
.projectsaround_slider .slick-arrow:before{
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    width: 70px;
    height: 15px;
    background-image: url(../images/home/left-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.projectsaround_slider .slick-next.slick-arrow:before{
    background-image: url(../images/home/right-arrow.png);
    right: 0;
}
.blog_slider img{
    height: 200px;
    object-fit: cover;
}
.blog_slider{
    float: right;
    max-width: 91%;
}

.blog_slider .slick-arrow{
    font-size: 0;
    background-color: unset;
    border: unset;
    outline: unset;
    padding: 0;
    position: absolute;
    right: 150px;
    bottom: -20px;
}
.blog_slider .slick-arrow:before{
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    width: 70px;
    height: 15px;
    background-image: url(../images/home/left-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.blog_slider .slick-next.slick-arrow:before{
    background-image: url(../images/home/right-arrow.png);
    right: 0;
}
.needass{
    z-index: 1;
    background-image: url(../images/home/needvector-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.projectsaround_slider img {
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
}
.projectsaround_slider span img {
    height: auto;
}
.explore_sec {
    margin-top: -5em;
    padding-top: 5em;
}
.explore_part{
    padding: 0 12px;
}
.explore_slider{
    margin-bottom: 4em;
}
.show_btn{
    padding: 12px 28px 12px 28px;
}
.projectsaround_part {
    grid-template-columns: auto auto auto auto;
    gap: 24px;
}
.project_text{
    text-align: justify;
}
.help_part{
    border: 1px solid #B1B1B7
}
.testimonials_top{
    margin-left: -35px;
}
.foot_locat{
    margin: 2em 0;
}
.blog_sec{
    margin: 1em 0 3em;
}
.testimonials_wrapper{
    margin: 4em 0;
    padding: 2em 0;
}
/***************************** listing-page *********************************/
.gol_icon:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color:#FFC000;
    border-radius: 50px;
    display: inline-block;
    margin-right: 10px;
}
.project_imgs img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}
.filter-panel {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    z-index: 1000;
    transition: left 0.3s ease;
}
.filter-panel.open {
    left: 0;
}
.sort_by:before {
    content: "";
    background-image: url(../images/listing/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.form-check-input:checked {
    background-color: #3C3C4C;
    border-color: #3C3C4C;
}
.search_sec {
    box-shadow: 0px 0px 1px 0px #0000000A;
    box-shadow: 0px 4px 8px 0px #0000000A;
    box-shadow: 0px 16px 24px 0px #0000000A;
    box-shadow: 0px 24px 32px 0px #0000000A;
    margin-top: -2em;
    height: 75px;
}
.top_menu li{
    position: relative;
}
.top_menu li:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    right: 0;
    margin: 0 auto;
    background-color: #FFC000;
    width: 0%;
    height: 4px;
    transition: .5s;
    border-radius: 4px;
}
.top_menu li:hover:after{
    width: 60%;
    transition: .5s;
}
.listborder{
    border: 1px solid #D8D8DB
}
#search-button{
    padding: 12px 38px;
    margin: 13px 15px;
}

@media only screen and (min-width:1500px){
    .blog_slider{
        max-width: 93%;
    }
}
@media only screen and (min-width:1700px){
    .blog_slider .slick-arrow{
        right: 200px;
    }
    .blog_slider{
        max-width: 89%;
    }
}
@media only screen and (min-width:1920px){
    .blog_slider{
        max-width: 84%;
    }
    .blog_slider .slick-arrow{
        right: 305px;
    }
}
@media only screen and (max-width:1400px){
    .w-20 {
        width: 20%;
    }
}
@media only screen and (max-width:1300px){
    .blog_slider{
        max-width: 97%;
    }
    .container{
        max-width: unset;
        padding: 0 15px;
    }
    
}
@media only screen and (max-width:1200px){
    .w-20 {
        width: 23%;
    }
    .fs-60 {
        font-size: 50px;
    }
    .search_sec{
        height: 55px;
    }
    .explore_part {
        padding: 0 6px;
    }
    .explore_slider {
        margin-bottom: 2em;
    }
    .fs-30 {
        font-size: 28px;
        line-height: 35px;
    }
    .fs-18 {
        font-size: 16px;
    }
    .projectsaround_part{
        gap: 15px;
    }
    .help_wrapper{
        padding: 1em 0;
    }
    .testimonials_wrapper {
        margin: 2em 0 0;
        padding: 2em 0 0;
    }
    .blog_slider .slick-arrow{
        right: 40px;
    }
    .blog_sec {
        margin: 1em 0 1em;
    }
    .foot_social{
        width: 35px;
    }
    .search_sec{
        margin-top: -3.5em;
    }
}

@media only screen and (max-width:992px){
    .blog_slider {
        padding-left: 0;
    }
    .need:before{
        content: unset;
    }
    .needass:after{
        content: unset;
    }
    .banner_slider{
        background-color: #3C3C4C;
    }
    .fs-60{
        font-size: 35px;
    }
    .w-20{
        width: 30%;
    }
    .search_sec{
        height: 60px;
        margin-top: -3.5em;
    }
    .projectsaround_slider img {
        height: 200px;
    }
    .project_para{
        overflow-wrap: break-word;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 50px;
    }
    .testimonials_top{
        margin-left: 0;
    }
    .fs-30 {
        font-size: 25px;
        line-height: 30px;
    }
    .blog_title{
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .explore_sec {
        margin-top: -7em;
        padding-top: 6em;
    }
    
}
@media only screen and (max-width:768px){
    .testimonials_wrapper {
        margin: 1em 0 0;
        padding: 1em 0 0;
    }
    .needass{
        background-image: unset;
    }
    .w-20 {
        width: 220px;
    }
    .blog_slider .slick-arrow {
        right: 15px;
        bottom: -8px;
    }
    .banner_slider img {
        height: 240px;
        object-fit: cover;
        object-position: 45% 100%;
    }
    .fs-60{
        font-size: 30px;
    }
    .search_sec{
        margin-top: 0;
    }
    .top_menu{
        text-align: center !important;
    }
    
}
@media only screen and (max-width:576px){
    .explore_sec {
        margin-top: -6.8em;
        padding-top: 6em;
    }
    .help_part strong{
        overflow-wrap: break-word;
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .banner_content{
        position: relative !important;
    }
    .top_menu{
        text-align: center !important;
    }
    .fs-5{
        font-size: 18px !important;
    }
}
@media only screen and (max-width:480px){
    .fs-60 {
        font-size: 28px;
    }
    #search-button.w-20{
        width: 30% !important;
    }
    .explore_sec {
        margin-top: -6.8em;
        padding-top: 6em;
    }
    .projectsaround_slider img {
        height: 180px;
    }
    .blog_text{
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .banner_slider img {
        height: 240px;
        object-fit: cover;
        object-position: 7% 100%;
    }
    .foot_locat {
        margin: 1em 0 .5em;
    }
    .fs-5{
        font-size: 16px !important;
    }
    
}
